<div class="col-md-8">
  <ul class="box-content nav nav-pills">
    <li class="active">
      <%= link_to t("app.box_text.new_law"), "#new", {"data-toggle" => "tab"} %>
    </li>
    <li>
      <%= link_to t("app.box_text.leg_sit"), "#sit", {"data-toggle" => "tab"} %>
    </li>
    <div class="tab-content">
      <div id="new" class="tab-pane active">
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Quyết định 10/2017/QĐ-UBND Ban hành Quy định
            về quản lý nhà nước đối với hoạt động đo đạc, bản đồ và
            viễn thám trên địa bàn tỉnh Bình Dương", "#" %>
        </div>
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Quyết định 14/2017/QĐ-UBND Quyết định ban hành
            Quy định về quy trình lập, thực hiện và theo dõi đánh giá
            Kế hoạch phát triển kinh tế - xã hội hàng năm của xã, phường,
            thị trấn trên địa bàn tỉnh Đắk Nông.", "#" %>
        </div>
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Quyết định 24/2017/QĐ-UBND Về việc sửa đổi,
            bổ sung một số điều của Quyết định số 25/2015/QĐ-UBND
            ngày 28/8/2015 của UBND thành phố Đà Nẵng về chính sách
            trợ giúp xã hội đối với đối tượng bảo trợ xã hội trên
            địa bàn thành phố Đà Nẵng", "#" %>
        </div>
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Quyết định 13/2017/QĐ-UBND Về việc
            bãi bỏ Quyết định số 2336/2011/QĐ-UBND
            ngày 27 tháng 10 năm 2011 của UBND tỉnh Hà Giang", "#" %>
        </div>
      </div>

      <div id="sit" class="tab-pane">
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Giám hộ cho người chưa mất năng
            lực hành vi dân sự", "#" %>
        </div>
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Diện tích thửa đất ghi trên sổ đỏ và
            trên bản đồ địa chính không giống nhau thì
            phải làm thế nào?", "#" %>
        </div>
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Đòi lại tiền cho con trai vay", "#" %>
        </div>
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Chứng thực bản sao của sơ yếu lý lịch", "#" %>
        </div>
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Di chúc bằng văn bản không có người làm chứng,
            chứng thực hoặc công chứng", "#" %>
        </div>
        <div class="item">
          <%= fa_icon "bookmark-o" %>
          <%= link_to "Hợp đồng ủy quyền", "#" %>
        </div>
      </div>
    </div>
  </ul>
</div>
