<div class="jumbotron">
  <div class="row">
    <%= image_tag "banner.png" %>
  </div>
  <div class="row">
    <div class="btn btn-primary"><%= t "app.jumbotron.introduce" %></div>
    <div class="btn btn-primary">
      <%= link_to "/articles" do %>
        <%= t "app.jumbotron.center_law" %>
      <% end %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "/news" do %>
        <%= t "app.jumbotron.news_law" %>
      <% end %>  
    </div>
  </div>
</div>
