<%= render "layouts/navbar" %>
<div class="container">
  <div class="row">
    <%= render "jumbotron" %>
    <%= render "shared/search_box" %>
  </div>
  <div class="row box-text">
    <%= render "box_text" %>
  </div>
  <%= render "shared/face_chat" %>
</div>
