<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render "shared/category_box" %>
    </div>
    <div class="col-md-6">
      <%= render "shared/result_box" %>
    </div>
    <div class="col-md-4">
      <%= render "shared/search_box" %>
      <%= render "shared/text_much_view" %>
    </div>
  </div>
  <%= render "shared/face_chat" %>
  <%= render "shared/back_to_top" %>
</div>
