<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render "shared/index" %>
    </div>
    <div class="col-md-8">
      <%= render "shared/search_box" %>
      <div class="article-content">
        <%= @article.html_content.html_safe %>
      </div>
    </div>
    <div class="col-md-2">
      <%= render "shared/text_much_view" %>
    </div>
  </div>
  <%= render "shared/face_chat" %>
</div>