<div class="category">
  <div class="category-organization">
    <div class="title"><%= t "app.category_box.category_organ.title" %></div>
    <div class="content">
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_organ.organ_1" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_organ.organ_2" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_organ.organ_3" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_organ.organ_4" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_organ.organ_5" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_organ.organ_6" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="category-type">
    <div class="title"><%= t "app.category_box.category_type.title" %></div>
    <div class="content">
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_1" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_2" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_3" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_4" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_5" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_6" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_7" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_8" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_9" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_10" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_type.type_11" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="category-year">
    <div class="title"><%= t "app.category_box.category_year.title" %></div>
    <div class="content">
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_year.year_1" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_year.year_2" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_year.year_3" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_year.year_4" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_year.year_5" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_year.year_6" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_year.year_7" %>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#" do %>
          <%= t "app.category_box.category_year.year_8" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
