<div class="new-laws">
  <div class="title">
    <%= t "app.result_box.new_text" %>
  </div>
  <div class="item">
    <%= fa_icon "bookmark-o" %>
    <%= link_to "Quyết định 10/2017/QĐ-UBND Ban hành Quy định
      về quản lý nhà nước đối với hoạt động đo đạc, bản đồ và
      viễn thám trên địa bàn tỉnh Bình Dương", "#" %>
  </div>
  <div class="item">
    <%= fa_icon "bookmark-o" %>
    <%= link_to "Quyết định 14/2017/QĐ-UBND Quyết định ban hành
      Quy định về quy trình lập, thực hiện và theo dõi đánh giá
      Kế hoạch phát triển kinh tế - xã hội hàng năm của xã, phường,
      thị trấn trên địa bàn tỉnh Đắk Nông.", "#" %>
  </div>
  <div class="item">
    <%= fa_icon "bookmark-o" %>
    <%= link_to "Quyết định 24/2017/QĐ-UBND Về việc sửa đổi,
      bổ sung một số điều của Quyết định số 25/2015/QĐ-UBND
      ngày 28/8/2015 của UBND thành phố Đà Nẵng về chính sách
      trợ giúp xã hội đối với đối tượng bảo trợ xã hội trên
      địa bàn thành phố Đà Nẵng", "#" %>
  </div>
</div>
