<div class="result">
  <ul class="nav nav-pills">
    <li class="active"><%= link_to t("app.result_box.new_text"), "#result1" %></li>
    <li><%= link_to t("app.result_box.text_effect_in_month"), "#result2" %></li>
    <li><%= link_to t("app.result_box.text_expires_in_month"), "#result3" %></li>

    <div class="tab-content">
      <div class="tab-pane active" id="result1">
        <div class="item">
          <div class="title">
            Hiến pháp Không số
          </div>
          <div class="content">
            <div class="main-content">
              <div class="des">
                Hiến pháp năm 2013
              </div>
              <div class="link">
                <ul>
                  <li class="source">
                    <%= fa_icon "file-pdf-o" %>
                    <%= t "app.pdf_ver" %>
                  </li>
                  <li class="ref">
                    <%= fa_icon "file-text-o" %>
                    <%= t "app.link_text" %>
                  </li>
                  <li class="attribute">
                    <%= fa_icon "sitemap" %>
                    <%= t "app.attribute" %>
                  </li>
                </ul>
                <ul>
                  <li class="map">
                    <%= fa_icon "bar-chart" %>
                    <%= t "app.chart" %>
                  </li>
                  <li class="download">
                    <%= fa_icon "download" %>
                    <%= t "app.download" %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="status">
              <div class="public-day">
                <div class="sub-title">
                  <%= t "app.public" %>:
                </div>
                <div class="value">
                  15/04/1992
                </div>
              </div>
              <div class="effect-day">
                <div class="sub-title">
                  <%= t "app.effect" %>:
                </div>
                <div class="value">
                  15/04/1992
                </div>
              </div>
              <div class="effect-status">
                <div class="sub-title">
                  <%= t "app.status.title" %>:
                </div>
                <div class="value">
                  <%= t "app.status.status_1" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="title">
            Hiến pháp Không số
          </div>
          <div class="content">
            <div class="main-content">
              <div class="des">
                Hiến pháp năm 2013
              </div>
              <div class="link">
                <ul>
                  <li class="source">
                    <%= fa_icon "file-pdf-o" %>
                    <%= t "app.pdf_ver" %>
                  </li>
                  <li class="ref">
                    <%= fa_icon "file-text-o" %>
                    <%= t "app.link_text" %>
                  </li>
                  <li class="attribute">
                    <%= fa_icon "sitemap" %>
                    <%= t "app.attribute" %>
                  </li>
                </ul>
                <ul>
                  <li class="map">
                    <%= fa_icon "bar-chart" %>
                    <%= t "app.chart" %>
                  </li>
                  <li class="download">
                    <%= fa_icon "download" %>
                    <%= t "app.download" %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="status">
              <div class="public-day">
                <div class="sub-title">
                  <%= t "app.public" %>:
                </div>
                <div class="value">
                  15/04/1992
                </div>
              </div>
              <div class="effect-day">
                <div class="sub-title">
                  <%= t "app.effect" %>:
                </div>
                <div class="value">
                  15/04/1992
                </div>
              </div>
              <div class="effect-status">
                <div class="sub-title">
                  <%= t "app.status.title" %>:
                </div>
                <div class="value">
                  <%= t "app.status.status_1" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="title">
            Hiến pháp Không số
          </div>
          <div class="content">
            <div class="main-content">
              <div class="des">
                Hiến pháp năm 2013
              </div>
              <div class="link">
                <ul>
                  <li class="source">
                    <%= fa_icon "file-pdf-o" %>
                    <%= t "app.pdf_ver" %>
                  </li>
                  <li class="ref">
                    <%= fa_icon "file-text-o" %>
                    <%= t "app.link_text" %>
                  </li>
                  <li class="attribute">
                    <%= fa_icon "sitemap" %>
                    <%= t "app.attribute" %>
                  </li>
                </ul>
                <ul>
                  <li class="map">
                    <%= fa_icon "bar-chart" %>
                    <%= t "app.chart" %>
                  </li>
                  <li class="download">
                    <%= fa_icon "download" %>
                    <%= t "app.download" %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="status">
              <div class="public-day">
                <div class="sub-title">
                  <%= t "app.public" %>:
                </div>
                <div class="value">
                  15/04/1992
                </div>
              </div>
              <div class="effect-day">
                <div class="sub-title">
                  <%= t "app.effect" %>:
                </div>
                <div class="value">
                  15/04/1992
                </div>
              </div>
              <div class="effect-status">
                <div class="sub-title">
                  <%= t "app.status.title" %>:
                </div>
                <div class="value">
                  <%= t "app.status.status_1" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>
