<%= form_tag searches_path, method: :get do |f| %>
  <div class="search-box">
    <div class="title"><%= t "app.search_box.title" %></div>
    <div class="body">
      <div class="text-search-box">
        <%= text_field_tag "query", params[:query], class: "form-control",
          placeholder: t("app.search_box.key_search") %>
      </div>
      <div class="filter-list">
        <div class="search-term">
          <div id="group1">
            <input id="filter1" type="radio" name="group1"
              value="<%= t 'app.search_box.filter.filter_1' %>">
            <label for="filter1"><%= t "app.search_box.filter.filter_1" %></label>
            <input id="filter2" type="radio" name="group1"
              value="<%= t 'app.search_box.filter.filter_2' %>">
            <label id="label-fil2" for="filter2">
              <%= t "app.search_box.filter.filter_2" %>
            </label>
          </div>
          <div id="group2">
            <label><%= t "app.search_box.filter.filter_3" %></label>
            <select class="form-control topic" name="group2_1">
              <option value="<%= t('app.search_box.filter.filter_4') %>">
                <%= t "app.search_box.filter.filter_4" %></option>
              <option value="<%= t('app.search_box.filter.filter_5') %>">
                <%= t "app.search_box.filter.filter_5" %>
              </option>
            </select>
            <select class="form-control" name="group2_2">
              <option value="<%= t('app.search_box.filter.filter_6') %>">
                <%= t "app.search_box.filter.filter_6" %>
              </option>
              <option value="<%= t('app.search_box.filter.filter_7') %>">
                <%= t "app.search_box.filter.filter_7" %>
              </option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-primary"><%= t "app.search_box.search" %></button>
    </div>
  </div>
<% end %>
