<div class="text-much-view">
  <div class="title"><%= t "app.text_much_view" %></div>
  <div class="content">
    <div class="item">
      <%= link_to "Luật 32/2013/QH13", "#" %>
    </div>
    <div class="item">
      <%= link_to "Bộ luật 33/2005/QH11", "#" %>
    </div>
    <div class="item">
      <%= link_to "Quyết định 19/2006/QĐ-BTC", "#" %>
    </div>
    <div class="item">
      <%= link_to "Bộ luật 10/2012/QH13", "#" %>
    </div>
    <div class="item">
      <%= link_to "Luật 60/2005/QH11", "#" %>
    </div>
  </div>
</div>
